{{yield}}
<section id="comparar">
<div class="container">
  <div class="row">
    <div class="page-header">
      <h1 class="text-center">{{study_0.government.name}} - {{study_1.government.name}}</h1>
      <h2 class="text-center">Al año {{study_0.order}} año de gobierno</h2>
    </div>
  </div>


  <div class="row">
  <div class="panel panel-default">
    <div class="panel-body compare">
      <!-- Cumplimiento y coherencia total -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Cumplimiento y coherencia total <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="La cifra de cumplimiento indica el nivel de avance de una promesa presidencial, según su estado de tramitación en el congreso. La coherencia determina el grado de consistencia entre los contenidos de una promesa presidencial y un proyecto de ley enviado al Congreso en una escala de 1 al 4"></i></h4>
        </div>
        <div class="panel-body">
          <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">{{study_0.government.name}}</p>
              <div class="chart-comparison">
                <p class="compare-info">Avance</p>
                <p class="compare-result compare-info" style="color: {{study_0.government.color1}}">{{study_0.fullfilment}}%</p>
                <div class="graph-one chart-compare-studies">
                  {{ember-chart type='doughnut' data=study_0.chartData options=study_0.doughnutOpt height=150}}
                </div>
              </div>
              <p class="compare-info">Coherencia</p>
              <p class="compare-result compare-info" style="color: {{study_0.government.color1}}">{{study_0.coherenceLevel}}</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">{{study_1.government.name}}</p>
              <div class="chart-comparison">
                <p class="compare-info">Avance</p>
                <p class="compare-result compare-info" style="color: {{study_1.government.color1}}">{{study_1.fullfilment}}%</p>
                <div class="graph-one chart-compare-studies">
                  {{ember-chart type='doughnut' data=study_1.chartData options=study_1.doughnutOpt height=150}}
                </div>
              </div>
              <p class="compare-info">Coherencia</p>
              <p class="compare-result compare-info" style="color: {{study_1.government.color1}}">{{study_1.coherenceLevel}}</p>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- Cumplimiento y coherencia total -->
      <!-- Promesas realizadas -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Total de promesas realizadas</h4>
        </div>
        <div class="panel-body">
          <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">{{study_0.government.name}}</p>
              <p class="compare-result compare-info" style="color: {{study_0.government.color1}}">{{study_0.promises.length}}</p>
              <p class="compare-info">Promesas</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">{{study_1.government.name}}</p>
              <p class="compare-result compare-info" style="color: {{study_1.government.color1}}">{{study_1.promises.length}}</p>
              <p class="compare-info">Promesas</p>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- Promesas realizadas -->
      <!-- Proyectos enviados -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Total de proyectos enviados</h4>
        </div>
        <div class="panel-body">
          <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">{{study_0.government.name}}</p>
              <p class="compare-result compare-info" style="color: {{study_0.government.color1}}">{{study_0.billsCount}}</p>
              <p class="compare-info">Proyectos</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">{{study_1.government.name}}</p>
              <p class="compare-result compare-info" style="color: {{study_1.government.color1}}">{{study_1.billsCount}}</p>
              <p class="compare-info">Proyectos</p>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- Proyectos enviados -->
      <!-- Promesas que presentan algún tipo de avance-->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Promesas que presentan algún tipo de avance <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Promesas que tienen asociadas un o un conjunto de proyectos de ley para su cumplimiento"></i></h4>
        </div>
        <div class="panel-body">
          <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">{{study_0.government.name}}</p>
              <p class="compare-result compare-info" style="color: {{study_0.government.color1}}">{{study_0.presentanAvance}}/{{study_0.promises.length}}</p>
              <p class="compare-info">Promesas completas</p>
              <p class="compare-info">({{study_0.finalizadas}} completas - {{study_0.enDesarrollo}} en progreso)</p>            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">{{study_1.government.name}}</p>
              <p class="compare-result compare-info" style="color: {{study_1.government.color1}}">{{study_1.presentanAvance}}/{{study_1.promises.length}}</p>
              <p class="compare-info">Promesas completas</p>
              <p class="compare-info">({{study_1.finalizadas}} completas - {{study_1.enDesarrollo}} en progreso)</p>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- Promesas que presentan algún tipo de avance-->
      <!-- Capacidad -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Capacidad <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Este indicador mide la capacidad de un gobierno de cumplir una promesa en su totalidad. Es decir, no sólo cuenta ingresar un proyecto de ley, sino que también tener el manejo político para lograr su promulgación. Por ende, se contemplan sólo las promesas que tienen un 100% de avance y un 4 de coherencia"></i></h4>
        </div>
        <div class="panel-body">
          <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">{{study_0.government.name}}</p>
              <p class="compare-result compare-info" style="color: {{study_0.government.color1}}">{{study_0.capacidad}}</p>
              <p class="compare-info">Promesas con puntaje máximo</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">{{study_1.government.name}}</p>
              <p class="compare-result compare-info" style="color: {{study_1.government.color1}}">{{study_1.capacidad}}</p>
              <p class="compare-info">Promesas con puntaje máximo</p>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- Capacidad -->
      <!-- Areas -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Avance comparado por áreas</h4>
        </div>
        <div class="panel-body">
          <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p><i class="fa fa-circle" aria-hidden="true" style="margin-top: 30px; padding-left: 9px; color: {{study_0.government.color1}}"></i> {{study_0.government.name}}</p>
              <p><i class="fa fa-circle" aria-hidden="true" style="padding-left: 9px; color: {{study_1.government.color1}}"></i> {{study_1.government.name}}</p>
            </div>
          </div>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Área</th>
                <th class="text-center">Avance</th>
                <th class="text-center">Voluntad política <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Este indicador mide la intención de un gobierno de cumplir sus promesas. Para calcularlo, se analizan aquellas promesas que tienen uno o más proyectos de ley enviados al Congreso"></i></th>
              </tr>
            </thead>
            <tbody>
              {{#each areas as |a|}}
              <tr>
                <td width="10%">{{a.name}}</td>
                <td width="80%">
                  <!-- bar01-->
                  <div class="progress compare-bar hidden-xs hidden-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{fullfilmentPerArea a study_0}}%; background-color: {{study_0.government.color1}}">
                      <span class="sr-only">{{fullfilmentPerArea a study_0}}%</span>
                    </div>
                  </div>
                  <p class="compare-info hidden-md hidden-lg" style="color: {{study_0.government.color1}}">{{fullfilmentPerArea a study_0}}%</p>
                  <!-- bar01-->
                  <!-- bar02-->
                  <div class="progress compare-bar hidden-xs hidden-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{fullfilmentPerArea a study_1}}" aria-valuemin="0" aria-valuemax="100" style="width: {{fullfilmentPerArea a study_1}}%; background-color: {{study_1.government.color1}}">
                      <span class="sr-only">{{fullfilmentPerArea a study_1}}%</span>
                    </div>
                  </div>
                  <p class="compare-info hidden-md hidden-lg" style="color: {{study_1.government.color1}}">{{fullfilmentPerArea a study_1}}%</p>
                  <!-- bar02-->
                </td>
                <td width="10%">
                  <p class="compare-info hidden-xs hidden-sm" style="margin-top: 15px; color: {{study_0.government.color1}}">{{politicalWillPerArea a study_0}}</p>
                  <p class="compare-info hidden-xs hidden-sm" style="margin-top: 25px; color: {{study_1.government.color1}}">{{politicalWillPerArea a study_1}}</p>
                  <p class="compare-info hidden-md hidden-lg" style="color: {{study_0.government.color1}}">{{politicalWillPerArea a study_0}}</p>
                  <p class="compare-info hidden-md hidden-lg" style="color: {{study_1.government.color1}}">{{politicalWillPerArea a study_1}}</p>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      </div>
      <!-- Areas -->
    </div>
  </div>
</div>
</div>
</section>
