
{{yield}}
<section id="estudio">
<div class="container">
<div class="row">
  <div class="page-header">
    <h1 class="text-center">
    Hola liss!! este archivo se modifica en app/templates/components/resumen-study.hbs
    {{study.government.name}} Estudio de {{study.fullName}}</h1>
  </div>
  <div class="col-md-12">
    <div class="bajada">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="chart">
      {{ember-chart type='doughnut' data=study.chartData options=doughnutOpt height=150}}
    </div>
  </div>
</div>
</div>
</section>


<section id="resume">
<div class="container">
  <h2 class="text-center">Cumplimiento de promesas al tercer año de gobierno de Bachelet</h2>
  <div class="row">
    {{#each-in study.promisesGroupedByArea as |area_id a|}}
    <div class="cumplimientos col-sm-4 col-md-4">
      <h3 class="text-center"><a href="" onClick="ga('send', 'event', 'home-{{c.area}}', 'click');">{{a.area.name}}</a></h3>
      <div class="chart">
      {{ember-chart type='doughnut' data=study.chartData options=doughnutOpt height=150}}
      </div>
      <div class="text-center promise-result home">{{a.summary.fullfilment}}%</div>
      <p class="text-center home">de avance</p>
      <p class="text-center">Coherencia con la promesa {{a.summary.coherenceLevel}} de 4</p>
      <a class="btn btn-default btn-sm btn-block home" href="" onClick="ga('send', 'event', 'home-{{c.area}}-ver-mas', 'click');">Ver más</a>
    </div>
    {{/each-in}}
  </div>
</div>
</section>
