{{yield}}
<div id="hero-home">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>¿Cuánto cumplió el gobierno?</h1>
        <p>Del Dicho al Hecho midió cuánto avanzó el presidente Gabriel Boric en sus promesas legislativas de gobierno durante el primer año de su mandato, analizando estas hasta el 8 de marzo de 2023</p>
        <!-- <a href="#movement" class="btn btn-primary btn-lg btn-jumbo" onclick="ga('send','event','home-ver-movilizaciones-desktop','click')">Movilizaciones Sociales</a> -->
        <!-- <a href="https://deldichoalhecho.cl/#/study/sebasti%C3%A1n-pi%C3%B1era-ii_programa-de-gobierno-2021" class="btn btn-primary btn-lg btn-jumbo" onclick="ga('send','event','home-ver-estudio-desktop','click')">Programa de Gobierno</a> -->
      </div>
    </div>
  </div>
</div>

<section id="que-es-home">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default home-about">
          <div class="panel-body">
            <h2 class="text-center">¿Qué es Del Dicho al Hecho?</h2>
            <p class="home text-center">Del Dicho al Hecho es un estudio que mide el cumplimiento de las promesas legislativas establecidas por el gobierno en su programa presidencial y discurso de rendición de cuentas.</p><br>
            <p class="home text-center">Con esto buscamos dar información que empodera a los ciudadanos y ciudadanas en el ejercicio de su derecho a exigir el cumplimiento de las promesas realizadas por los representantes, fortaleciendo su capacidad de fiscalización y control de gestión.</p>
        <div class="text-center">
          <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQyfcw0Nw_tAaXKF5orFbLLEasjdrZ9-C8Q6R_8SaGxrI35B8BvcX0hXnyPfewpZWpC_XcXi7o4u3F6/pubhtml" style="margin-top:30px" class="btn btn-warning" target="_blank">Ver estudio</a>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- {{#if study_0}}
  <section id="movement">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
          <h2 class="text-center">{{study_0.title}}</h2>
          <p class="home text-center">{{study_0.description}}</p>
        </div>
      </div>
      <div class="row">
        {{#each-in study_0.promisesGroupedByArea as |area_id a|}}
        <div class="cumplimientos cumplimientos-resumen col-sm-4 col-md-4">
          <h3 class="text-center">{{a.area.name}}</h3>
          <div class="chart-resume text-center">
            <img src="{{ area-image a.area.name }}" class="img-chart">
            {{ember-chart type='doughnut' data=(chartPerAreaAndStudy a.area study_0 'front') options=study_0.doughnutOpt height=150}}
          </div>
          <div class="text-center promise-result home">{{a.summary.fullfilment}}%</div>
          <p class="text-center home font-mono" style="margin-bottom:5px;">de avance</p>
          <a href="{{url-for "study" study_0.slug}}" class="btn btn-info btn-sm btn-block">Ver Más</a>
        </div>
        {{/each-in}}
      </div>
    </div>
  </section>
{{/if}}

{{#if study_1}}
  <section id="resume">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
          <h2 class="text-center">{{study_1.title}}</h2>
          <p class="home text-center">{{study_1.description}}</p>
        </div>
      </div>
      <div class="row">
        {{#each-in study_1.promisesGroupedByArea as |area_id a|}}
          <div class="cumplimientos cumplimientos-resumen col-sm-4 col-md-4">
            <h3 class="text-center">{{a.area.name}}</h3>
            <div class="chart-resume text-center">
              <img src="{{ area-image a.area.name }}" class="img-chart">
              {{ember-chart type='doughnut' data=(chartPerAreaAndStudy a.area study_1 'front') options=study_1.doughnutOpt height=150}}
            </div>
            <div class="text-center promise-result home">{{a.summary.fullfilment}}%</div>
            <p class="text-center home font-mono" style="margin-bottom:5px;">de avance</p>
            <a href="{{url-for "study" study_1.slug}}" class="btn btn-info btn-sm btn-block">Ver Más</a>
          </div>
        {{/each-in}}
      </div>
    </div>
  </section>
{{/if}} --}}
