
{{yield}}
<div id="welcome">
  <img src="/img/palacio.png" class="resume-back">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>¿Cuánto cumple el gobierno?</h1>
          <p>Revisa aquí el porcentaje de cumplimiento de las promesas realizadas por el presidente Sebastián Piñera en la cuenta pública del 2018</p>
          {{#link-to "study" study.slug  class="hidden-xs btn btn-primary btn-lg btn-jumbo" onclick="ga('send','event','home-ver-estudio-desktop','click')" }} Ver estudio completo {{/link-to}}
        </div>
          <div class="col-md-3 text-center total-resume-home">
            <div class="total-result cumplimientos">
              {{study.fullfilment}}%
            </div>
              <h3 class="label-cumplimiento">cumplimiento total <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Porcentaje que indica el promedio de avance de todas las promesas contenidas en el estudio."></i></h3>
              <div class="chart estudio-total home-chart">
                {{ember-chart type='doughnut' data=study.chartDataResume options=study.doughnutOpt height=150}}
              </div>
          </div>
          <div class="col-md-3 visible-xs resume-mobile-btn">
            {{#link-to "study" study.slug class="visible-xs btn btn-primary btn-jumbo" onclick="ga('send','event','home-ver-estudio-mobile','click')" }} Ver estudio completo {{/link-to}}
          </div>
      </div>
    </div>
  </div>
</div>

<section id="que-es-home">
  <div class="container">
    <h2 class="text-center">¿Qué es Del Dicho al Hecho?</h2>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p class="home text-center">Del Dicho al Hecho es un estudio que mide el cumplimiento de las promesas legislativas establecidas por el gobierno en su programa presidencial y discurso de rendición de cuentas.</p><br><p class="home text-center">Con esto buscamos dar información que empodera a los ciudadanos y ciudadanas en el ejercicio de su derecho a exigir el cumplimiento de las promesas realizadas por los representantes, fortaleciendo su capacidad de fiscalización y control de gestión.</p>
      </div>
    </div>
  </div>
</section>


<section id="resume">
<div class="container">
  <h2 class="text-center">Cumplimiento de promesas al primer año de gobierno de Piñera</h2>
  <div class="row">
    {{#each-in study.promisesGroupedByArea as |area_id a|}}
    <div class="cumplimientos cumplimientos-resumen col-sm-4 col-md-4">
      <h3 class="text-center">{{a.area.name}}</h3>
      <div class="chart-resume text-center">
        <img src="{{ area-image a.area.name }}" class="img-chart">
        {{ember-chart type='doughnut' data=(chartPerAreaAndStudy a.area study 'front') options=study.doughnutOpt height=150}}
      </div>
      <div class="text-center promise-result home">{{a.summary.fullfilment}}%</div>
      <p class="text-center home"><b>de avance</b></p>
      <a href="{{url-for "study" study.slug}}" class="btn btn-info btn-sm btn-block">Ver Más</a>
    </div>
    {{/each-in}}
  </div>
</div>
</section>
