{{yield}}
<div id="hero-home">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>¿Cuánto cumplió el gobierno?</h1>
        <p>Del Dicho al Hecho mide cuánto avanzó el gobierno del Presidente Gabriel Boric en el cumplimiento de las promesas legislativas de su programa de gobierno. En esta edición del estudio medimos el segundo año de su mandato.</p>
        {{!-- <a href="#movement" class="btn btn-primary btn-lg btn-jumbo">Ver Estudio</a> --}}
        <a href="https://deldichoalhecho.cl/#/study/gabriel-boric-i_programa-de-gobierno-2023" class="btn btn-primary btn-lg btn-jumbo">Ver Estudio</a>
      </div>
    </div>
  </div>
</div>

<section id="que-es-home">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default home-about">
          <div class="panel-body">
            <h2 class="text-center">¿Qué es Del Dicho al Hecho?</h2>
            <p class="home text-center">Del Dicho al Hecho es un estudio que mide el cumplimiento de las promesas legislativas establecidas por el gobierno en su programa presidencial y discurso de rendición de cuentas.</p><br>
            <p class="home text-center">Con esto buscamos dar información que empodera a los ciudadanos y ciudadanas en el ejercicio de su derecho a exigir el cumplimiento de las promesas realizadas por los representantes, fortaleciendo su capacidad de fiscalización y control de gestión.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{#if study_0}}
  <section id="movement">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
          <h2 class="text-center">{{study_0.title}}</h2>
          <p class="home text-center">{{study_0.description}}</p>
        </div>
      </div>
      <div class="row">
        {{#each-in study_0.promisesGroupedByArea as |area_id a|}}
        <div class="cumplimientos cumplimientos-resumen col-sm-4 col-md-4">
          <h3 class="text-center">{{a.area.name}}</h3>
          <div class="chart-resume text-center">
            <img src="{{ area-image a.area.name }}" class="img-chart">
            {{ember-chart type='doughnut' data=(chartPerAreaAndStudy a.area study_0 'front') options=study_0.doughnutOpt height=150}}
          </div>
          <div class="text-center promise-result home">{{a.summary.fullfilment}}%</div>
          <p class="text-center home font-mono" style="margin-bottom:5px;">de avance</p>
          <a href="{{url-for "study" study_0.slug}}" class="btn btn-info btn-sm btn-block">Ver Más</a>
        </div>
        {{/each-in}}
      </div>
    </div>
  </section>
{{/if}}


{{!-- {{#if study_1}}
  <section id="resume">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
          <h2 class="text-center">{{study_1.title}}</h2>
          <p class="home text-center">{{study_1.description}}</p>
        </div>
      </div>
      <div class="row">
        {{#each-in study_1.promisesGroupedByArea as |area_id a|}}
          <div class="cumplimientos cumplimientos-resumen col-sm-4 col-md-4">
            <h3 class="text-center">{{a.area.name}}</h3>
            <div class="chart-resume text-center">
              <img src="{{ area-image a.area.name }}" class="img-chart">
              {{ember-chart type='doughnut' data=(chartPerAreaAndStudy a.area study_1 'front') options=study_1.doughnutOpt height=150}}
            </div>
            <div class="text-center promise-result home">{{a.summary.fullfilment}}%</div>
            <p class="text-center home font-mono" style="margin-bottom:5px;">de avance</p>
            <a href="{{url-for "study" study_1.slug}}" class="btn btn-info btn-sm btn-block">Ver Más</a>
          </div>
        {{/each-in}}
      </div>
    </div>
  </section>
{{/if}} --}}
