{{yield}}
<section id="gobierno">
<div class="container">
<div class="row">
  <div class="page-header">
    <h1 class="text-center">{{model.name}}</h1>
    <h2 class="text-center">{{model.start_year}} - {{model.end_year}}</h2>
  </div>
</div>


<div class="row">
<div class="panel panel-default">
  <div class="panel-body compare">
    <!-- Promesas realizadas -->
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>Total de promesas realizadas</h4>
      </div>
      <div class="panel-body">
        <div class="container">
        <div class="row">
          <div class="col-md-12 compare-box">
            <p class="text-center">{{model.name}}</p>
            <p class="compare-result compare-info" style="color: {{study.government.color1}}">{{model.comparablePromises}}</p>
            <p class="compare-info">Promesas</p>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- Promesas realizadas -->
    <!-- Cumplimiento total -->
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>Cumplimiento total <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="La cifra de cumplimiento indica el nivel de avance de una promesa presidencial, según su estado de tramitación en el congreso."></i></h4>
      </div>
      <div class="panel-body">
        <div class="container">
        <div class="row">
          {{#each model.comparable as |study|}}

          <div class="col-xs-12 col-sm-{{columnsPerGovernment model }} col-md-{{columnsPerGovernment model }} compare-box">
            <p class="text-center">{{model.name}} al {{study.order}} año</p>
            <div class="chart-comparison">
              <p class="compare-info">Avance</p>
              <p class="compare-result compare-info" style="color: {{study.government.color1}}">{{study.fullfilment}}%</p>
              <div class="graph-one chart-compare-studies">
                {{ember-chart type='doughnut' data=study.chartData options=study.doughnutOpt height=150}}
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        </div>
      </div>
    </div>
    <!-- Cumplimiento total -->
    <!-- Proyectos enviados -->
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>Total de proyectos enviados</h4>
      </div>
      <div class="panel-body">
        <div class="container">
        <div class="row">
          {{#each model.comparable as |study|}}
          <div class="col-xs-12 col-sm-{{columnsPerGovernment model }} col-md-{{columnsPerGovernment model }} compare-box">
            <p class="text-center">{{model.name}} al {{study.order}} año</p>
            <p class="compare-result compare-info" style="color: {{study.government.color1}}">{{study.billsCount}}</p>
            <p class="compare-info">Proyectos</p>
          </div>
          {{/each}}
        </div>
      </div>
      </div>
    </div>
    <!-- Proyectos enviados -->
    <!-- Promesas que presentan algún tipo de avance-->
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>Promesas que presentan algún tipo de avance <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Promesas que tienen asociadas un o un conjunto de proyectos de ley para su cumplimiento"></i></h4>
      </div>
      <div class="panel-body">
        <div class="container">
        <div class="row">
          {{#each model.comparable as |study|}}
          <div class="col-xs-12 col-sm-{{columnsPerGovernment model }} col-md-{{columnsPerGovernment model }} compare-box">
            <p class="text-center">{{model.name}} al {{study.order}} año</p>
            <p class="compare-result compare-info" style="color: {{study.government.color1}}">{{study.presentanAvance}}/{{study.promises.length}}</p>
            <p class="compare-info">Promesas completas</p>
            <p class="compare-info">({{study.finalizadas}} completas - {{study.enDesarrollo}} en progreso)</p>
          </div>
          {{/each}}
        </div>
      </div>
      </div>
    </div>
    <!-- Promesas que presentan algún tipo de avance-->
    <!-- Capacidad -->
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>Capacidad <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Este indicador mide la capacidad de un gobierno de cumplir una promesa en su totalidad. Es decir, no sólo cuenta ingresar un proyecto de ley, sino que también tener el manejo político para lograr su promulgación."></i></h4>
      </div>
      <div class="panel-body">
        <div class="container">
        <div class="row">
          {{#each model.comparable as |study|}}
          <div class="col-xs-12 col-sm-{{columnsPerGovernment model }} col-md-{{columnsPerGovernment model }} compare-box">
            <p class="text-center">{{model.name}} al {{study.order}} año</p>
            <p class="compare-result compare-info" style="color: {{study.government.color1}}">{{study.capacity}}</p>
            <p class="compare-info">Promesas con puntaje máximo</p>
          </div>
          {{/each}}
        </div>
      </div>
      </div>
    </div>
    <!-- Capacidad -->
    <!-- Areas -->
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>Avance comparado por áreas</h4>
      </div>
      <div class="panel-body">
        <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p style="margin-top: 30px;"></p>
            {{#each model.comparable as |study|}}
            <p><i class="fa fa-circle" aria-hidden="true" style="padding-left: 9px; color: {{study.color}}"></i> {{model.name}} al {{study.order}} año</p>
            {{/each}}
            <p style="margin-bottom: 20px;"></p>
          </div>
        </div>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Área</th>
              <th class="text-center">Avance año a año</th>
              <th class="text-center">Avance total</th>
            </tr>
          </thead>
          <tbody>


            {{#each areas as |a|}}
              {{#if (hasPromisesInArea model a)}}


              <tr>
                <td width="10%">{{a.name}}</td>
                  <td width="80%">
                    <!-- bar01-->
                    <div class="progress compare-bar hidden-xs hidden-sm">
                      {{#gov-area-bar-diff government=model area=a}}

                      {{/gov-area-bar-diff}}

                    </div>
                  </td>
                  <td width="10%">
                    <p class="compare-info hidden-xs hidden-sm" style="margin-top: 15px; color: {{study.color1}}">{{finalPercentageGovernmentArea model a}}%</p>
                    <p class="compare-info hidden-md hidden-lg" style="color: {{study.color1}}">{{finalPercentageGovernmentArea model a}}%</p>
                  </td>
              </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    </div>
    <!-- Areas -->
  </div>
</div>
</div>

</div>
</section>
