<div>
  <div class="row">
    <div class="page-header">
      <h1 class="text-center">Comparar Estudios</h1>
    </div>
  </div>
  <!-- botonera -->
  <div class="row">
    <h3>Comparar programas año a año</h3>
    <div class="col-md-12">
      <a href="#" class="btn btn-default btn-sm">Michelle Bachelet con Sebastián Piñera al 2do año de Gobierno</a>
      <a href="#" class="btn btn-default btn-sm">Michelle Bachelet con Sebastián Piñera al 3er año de Gobierno</a>
    </div>
    <h3>Comparar trayectorias de gobiernos</h3>
    <div class="col-md-12">
      <a href="#" class="btn btn-default btn-sm">Michelle Bachelet Gobierno completo</a>
      <a href="#" class="btn btn-default btn-sm">Sebastián Piñera Gobierno completo</a>
    </div>
  </div>
  <!-- EObotonera -->

  <div class="row">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h3>{{model.[0].government.name}} - {{model.[1].government.name}} / Al 2do año de gobierno<!--  --></h3>
    </div>
    <div class="panel-body compare">
      <!-- Cumplimiento y coherencia total -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Cumplimiento y coherencia total <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetuer adipiscing elit."></i></h4>
        </div>
        <div class="panel-body">
          <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">Bachelet 2do año</p>
              <div class="graph-one">
                {{ember-chart type='doughnut' data=model.[0].chartData options=doughnutOpt height=200}}
              </div>
              <p class="compare-info">Avance</p>
              <p class="compare-result compare-info" style="color: {{model.[0].government.color1}}">{{model.[0].fullfilment}}%</p>
              <p class="compare-info">Coherencia</p>
              <p class="compare-result compare-info" style="color: {{model.[0].government.color1}}">{{model.[0].coherenceLevel}}</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">Piñera 2do año</p>
              <div class="graph-one">
                {{ember-chart type='doughnut' data=model.[1].chartData options=doughnutOpt height=200}}
              </div>
              <p class="compare-info">Avance</p>
              <p class="compare-result compare-info" style="color: {{model.[1].government.color1}}">{{model.[1].fullfilment}}%</p>
              <p class="compare-info">Coherencia</p>
              <p class="compare-result compare-info" style="color: {{model.[1].government.color1}}">{{model.[1].coherenceLevel}}</p>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- Cumplimiento y coherencia total -->
      <!-- Promesas realizadas -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Promesas realizadas <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetuer adipiscing elit."></i></h4>
        </div>
        <div class="panel-body">
          <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">Bachelet 2do año</p>
              <p class="compare-result compare-info" style="color: {{model.[0].government.color1}}">{{model.[0].promises.length}}</p>
              <p class="compare-info">Promesas</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">Piñera 2do año</p>
              <p class="compare-result compare-info" style="color: {{model.[1].government.color1}}">{{model.[1].promises.length}}</p>
              <p class="compare-info">Promesas</p>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- Promesas realizadas -->
      <!-- Proyectos enviados -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Proyectos enviados <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetuer adipiscing elit."></i></h4>
        </div>
        <div class="panel-body">
          <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">Bachelet 2do año</p>
              <p class="compare-result compare-info" style="color: {{model.[0].government.color1}}">{{model.[0].billsCount}}</p>
              <p class="compare-info">Proyectos</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">Piñera 2do año</p>
              <p class="compare-result compare-info" style="color: {{model.[1].government.color1}}">{{model.[1].billsCount}}</p>
              <p class="compare-info">Proyectos</p>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- Proyectos enviados -->
      <!-- Promesas que presentan algún tipo de avance-->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Promesas que presentan algún tipo de avance <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetuer adipiscing elit."></i></h4>
        </div>
        <div class="panel-body">
          <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">Bachelet 2do año</p>
              <p class="compare-result compare-info" style="color: {{model.[0].government.color1}}">{{model.[0].presentanAvance}}/{{model.[0].promises.length}}</p>
              <p class="compare-info">Promesas completas</p>
              <p class="compare-info">({{model.[0].finalizadas}} completas - {{model.[0].enDesarrollo}} en progreso)</p>            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">Piñera 2do año</p>
              <p class="compare-result compare-info" style="color: {{model.[1].government.color1}}">{{model.[1].presentanAvance}}/{{model.[1].promises.length}}</p>
              <p class="compare-info">Promesas completas</p>
              <p class="compare-info">({{model.[1].finalizadas}} completas - {{model.[1].enDesarrollo}} en progreso)</p>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- Promesas que presentan algún tipo de avance-->
      <!-- Capacidad -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Capacidad <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetuer adipiscing elit."></i></h4>
        </div>
        <div class="panel-body">
          <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">Bachelet 2do año</p>
              <p class="compare-result compare-info" style="color: {{model.[0].government.color1}}">{{model.[0].capacidad}}</p>
              <p class="compare-info">Promesas con puntaje máximo</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 compare-box">
              <p class="text-center">Piñera 2do año</p>
              <p class="compare-result compare-info" style="color: {{model.[1].government.color1}}">{{model.[1].capacidad}}</p>
              <p class="compare-info">Promesas con puntaje máximo</p>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- Capacidad -->
      <!-- Areas -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Áreas <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetuer adipiscing elit."></i></h4>
        </div>
        <div class="panel-body">
          <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p><i class="fa fa-circle" aria-hidden="true" style="margin-top: 30px; padding-left: 9px; color: {{model.[0].government.color1}}"></i> Bachelet 2do año</p>
              <p><i class="fa fa-circle" aria-hidden="true" style="padding-left: 9px; color: {{model.[1].government.color1}}"></i> Piñera 2do año</p>
            </div>
          </div>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Área</th>
                <th class="text-center">Avance</th>
                <th class="text-center">Voluntad política</th>
              </tr>
            </thead>
            <tbody>
              {{#each areas as |a|}}
              <tr>
                <td width="10%">{{a.name}}</td>
                <td width="80%">
                  <!-- bar01-->
                  <div class="progress compare-bar hidden-xs hidden-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{fullfilmentPerArea a model.[0]}}%; background-color: {{model.[0].government.color1}}">
                      <span class="sr-only">{{fullfilmentPerArea a model.[0]}}%</span>
                    </div>
                  </div>
                  <p class="compare-info hidden-md hidden-lg" style="color: {{model.[0].government.color1}}">{{fullfilmentPerArea a model.[0]}}%</p>
                  <!-- bar01-->
                  <!-- bar02-->
                  <div class="progress compare-bar hidden-xs hidden-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{fullfilmentPerArea a model.[1]}}" aria-valuemin="0" aria-valuemax="100" style="width: {{fullfilmentPerArea a model.[1]}}%; background-color: {{model.[1].government.color1}}">
                      <span class="sr-only">{{fullfilmentPerArea a model.[1]}}%</span>
                    </div>
                  </div>
                  <p class="compare-info hidden-md hidden-lg" style="color: {{model.[1].government.color1}}">{{fullfilmentPerArea a model.[1]}}%</p>
                  <!-- bar02-->
                </td>
                <td width="10%">
                  <p class="compare-info hidden-xs hidden-sm" style="margin-top: 15px; color: {{model.[0].government.color1}}">{{politicalWillPerArea a model.[0]}}</p>
                  <p class="compare-info hidden-xs hidden-sm" style="margin-top: 25px; color: {{model.[1].government.color1}}">{{politicalWillPerArea a model.[1]}}</p>
                  <p class="compare-info hidden-md hidden-lg" style="color: {{model.[0].government.color1}}">{{politicalWillPerArea a model.[0]}}</p>
                  <p class="compare-info hidden-md hidden-lg" style="color: {{model.[1].government.color1}}">{{politicalWillPerArea a model.[1]}}</p>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      </div>
      <!-- Areas -->
    </div>
  </div>
</div>
</div>
{{outlet}}
