<div>
  <h2>Comparar Gobiernos</h2>
  <!-- botonera -->
  <div class="row">
    <div class="col-md-4">
      <a href="#" class="btn btn-default btn-sm">Sebastián Piñera Gobierno completo</a>
    </div>
    <div class="col-md-4">
      <a href="#" class="btn btn-default btn-sm">Michelle Bachelet Gobierno completo</a>
    </div>
  </div>
  <!-- EObotonera -->

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>{{model.[0].government.name}} - {{model.[1].government.name}} / Al 2do año de gobierno<!--  --></h3>
    </div>
    <div class="panel-body compare">
      <!-- Cumplimiento y coherencia total -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Cumplimiento y coherencia total</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <p>Bachelet 2do año</p>
              <div class="graph-one">
                {{ember-chart type='doughnut' data=model.[0].chartData options=doughnutOpt height=200}}
              </div>
              <p>Coherencia</p>
              <p class="total-coherence">{{model.[0].coherenceLevel}}</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <p>Piñera 2do año</p>
              <div class="graph-one">
                {{ember-chart type='doughnut' data=model.[1].chartData options=doughnutOpt height=200}}
              </div>
              <p>Coherencia</p>
              <p class="total-coherence">{{model.[1].coherenceLevel}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Cumplimiento y coherencia total -->
      <!-- Promesas realizadas -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Promesas realizadas</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <p>Bachelet 2do año</p>
              <p>{{model.[0].promises.length}}</p>
              <p>Promesas</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <p>Piñera 2do año</p>
              <p>{{model.[1].promises.length}}</p>
              <p>Promesas</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Promesas realizadas -->
      <!-- Proyectos enviados -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Proyectos enviados</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <p>Bachelet 2do año</p>
              <p>{{model.[0].billsCount}}</p>
              <p>Proyectos</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <p>Piñera 2do año</p>
              <p>{{model.[1].billsCount}}</p>
              <p>Proyectos</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Proyectos enviados -->
      <!-- Promesas que presentan algún tipo de avance-->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Promesas que presentan algún tipo de avance</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <p>Bachelet 2do año</p>
              <p>{{model.[0].presentanAvance}}/{{model.[0].promises.length}}</p>
              <p>Promesas completas ({{model.[0].finalizadas}} completas - {{model.[0].enDesarrollo}} en progreso)</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <p>Piñera 2do año</p>
              <p>{{model.[1].presentanAvance}}/{{model.[1].promises.length}}</p>
              <p>Promesas completas ({{model.[1].finalizadas}} completas - {{model.[1].enDesarrollo}} en progreso)</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Promesas que presentan algún tipo de avance-->
      <!-- Capacidad -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Capacidad</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <p>Bachelet 2do año</p>
              <p>{{model.[0].capacidad}}</p>
              <p>Promesas con puntaje máximo</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <p>Piñera 2do año</p>
              <p>{{model.[1].capacidad}}</p>
              <p>Promesas con puntaje máximo</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Capacidad -->
      <!-- Areas -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Áreas</h4>
        </div>
        <div class="panel-body">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Area</th>
                <th>Avance</th>
                <th>Voluntad política</th>
              </tr>
            </thead>
            <tbody>
              {{#each areas as |a|}}
              <tr>
                <td width="10%">{{a.name}}</td>
                <td width="80%">
                  <!-- bar01-->
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{fullfilmentPerArea a model.[0]}}%;">
                      <span class="sr-only">{{fullfilmentPerArea a model.[0]}}% Complete</span>
                    </div>
                  </div>
                  <!-- bar01-->
                  <!-- bar02-->
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{fullfilmentPerArea a model.[1]}}" aria-valuemin="0" aria-valuemax="100" style="width: {{fullfilmentPerArea a model.[1]}}%;">
                      <span class="sr-only">{{fullfilmentPerArea a model.[1]}}% Complete</span>
                    </div>
                  </div>
                  <!-- bar02-->
                </td>
                <td width="10%">
                  <p>{{politicalWillPerArea a model.[0]}}</p>
                  <p>{{politicalWillPerArea a model.[1]}}</p>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <!-- Areas -->
    </div>
  </div>
</div>
{{outlet}}
