{{outlet}}
<div class="row">
  <div class="page-header">
    <h1 class="text-center"> {{model.government.name}}. Estudio de {{model.fullName}}</h1>
  </div>
  <div class="col-md-12">
    <div class="bajada">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-3 text-center">
    <div class="total-result cumplimientos">
      <div class="chart">
        {{ember-chart type='doughnut' data=model.chartData options=doughnutOpt height=200}}
      </div>
      <div class="text-center promise-result home">{{c.total}}</div>
      <p class="text-center">{{model.fullfilment}}</p>
    </div>
    <h3>de avance <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetuer adipiscing elit."></i></h3>
  </div>
  <div class="col-md-3 text-center">
    <div class="total-result">
      {{ model.coherenceLevel }}
    </div>
    <h3>coherencia total con el programa <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Número que indica el promedio de consistencia de todas las promesas respecto a los proyectos de ley enviados al Congreso."></i></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-3 text-center">
    <h3 class="sub">Total de promesas</h3>
    <div class="total-result sub">
      {{promisesCount}}
    </div>
  </div>
  <div class="col-md-3 text-center">
    <h3 class="sub">Total de proyectos enviados</h3>
    <div class="total-result sub">
      {{model.billsCount}}
    </div>
  </div>
  <div class="col-md-3 text-center">
    <h3 class="sub">Capacidad <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Indicador que señala el número de promesas que presentan puntuación máxima en su nivel de avance (100%) y su grado de coherencia (4)."></i></h3>
    <div class="total-result sub">
      {{model.capacity}}
    </div>
  </div>
  <div class="col-md-3 text-center">
    <h3 class="sub">Total de urgencias <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Es la suma de todas las urgencias asociadas a los proyectos de ley contenidos en el estudio."></i></h3>
    <div class="total-result sub">
      {{model.urgenciesCount}}
    </div>
  </div>
</div>

<div class="panel panel-default legend">
  <div class="row">
    <div class="col-md-9">
      <h4>Áreas y promesas</h4>
    </div>
    <div class="hidden-xs hidden-sm col-md-3 text-center">
      <div class="row">
        <div class="col-md-6">
          <h5>Avance <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Porcentaje que indica el promedio del cumplimiento de las promesas que pertenecen a un área determinada."></i></h5>
        </div>
        <div class="col-md-6">
          <h5>Coherencia <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetuer adipiscing elit."></i></h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      {{#each areas as |a|}}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne-{{a.id}}">
          <div class="row">
            <div class="col-md-4">
              <h4 class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#cumplimiento-{{a.id}}" aria-expanded="false" aria-controls="cumplimiento-[[p.id]]">
                <span>
                  {{a.name}}
                </span>
              </h4>
              <div class="sec-promesas">
                <h5>{{a.promises.length}} promesa(s)<br>({{a.completePromises}} completas - {{a.progressPromises}} en proceso - {{a.unprocessedPromises}} sin progreso)</h5>
              </div>
            </div>
            <div class="col-md-5">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow={{fullfilmentPerArea a model}} aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{fullfilmentPerArea a model}}%;"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <p class="hidden-md hidden-lg text-center">Avance <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{a.name}}"></i></p>
                  <div class="category-result text-center">
                    {{fullfilmentPerArea a model}}%
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <p class="hidden-md hidden-lg text-center">Coherencia <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Hola"></i></p>
                  <div class="category-result text-center">
                    {{coherence-per-area a model}}
                  </div>
                </div>
              </div>
            </div>
          </div><!--row-->
        </div><!--panel-heading-->
        <div id="cumplimiento-{{a.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne-{{a.id}}" >
          <div class="panel-body">
            {{#each a.promises as |p|}}
            <div class="panel-promise">
              <div class="row">
                <div class="col-md-9">
                  <h4>{{p.title}}</h4>
                  <p>{{p.content}}</p><br>
                  {{#if p.bills.length}}
                    <p><span>Proyectos asociados</span></p>
                    {{#each p.bills as |b|}}
                    <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal-proyecto-{{a.id}}-{{b.id}}">Proyecto {{b.name}}</button>
                    <!-- modal coherence -->
                    <div class="modal fade" id="myModal-proyecto-{{a.id}}-{{b.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{b.name}} - {{b.title}}</h4>
                          </div>
                          <div class="modal-body">
                            {{b.justification}}
                          </div>
                          <div class="modal-footer">
                            <a class="btn btn-default" href="{{b.url}}" target="_blank">Ir al proyecto</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- modal coherence -->
                    {{/each}}
                    <p><span>Total de urgencias</span> <span class="badge">{{p.urgenciesCount}}</span></p>
                  {{/if}}
                </div>
                <div class="col-md-3 text-center">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <p class="text-center">Avance</p>
                      <div class="promise-result text-center">
                        {{p.fullfilment}}%
                      </div>
                      <p class="text-center"><a href="#" data-toggle="modal" data-target="#myModal-cumplimiento-{{a.id}}-{{p.id}}">¿Por qué?</a></p>
                      <!-- modal coherence -->
                      <div class="modal fade" id="myModal-cumplimiento-{{a.id}}-{{p.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">{{p.fullfilment}}% de avance - ¿Por qué?</h4>
                            </div>
                            <div class="modal-body">
                              {{p.ja_why}}
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- modal coherence -->
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <p class="text-center">Coherencia</p>
                      <div class="promise-result text-center">
                        {{p.coherenceLevel}}
                      </div>
                      <p class="text-center"><a href="#" data-toggle="modal" data-target="#myModal-coherencia-{{a.id}}-{{p.id}}">¿Por qué?</a></p>
                      <!-- modal coherence -->
                      <div class="modal fade" id="myModal-coherencia-{{a.id}}-{{p.id}}" role="dialog">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">{{p.coherenceLevel}}/4 escala de coherencia - ¿Por qué?</h4>
                            </div>
                            <div class="modal-body">
                              {{p.jc_why}}
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- modal coherence -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{else}}
            <p>No hay promesas que mostrar para esta área</p>
            {{/each}}
          </div><!--panel-body-->
        </div><!--cumplimiento-->
      </div><!--panel default-->
      {{else}}
      <p>No hay áreas que mostrar</p>
      {{/each}}
    </div>
  </div>
</div>
