{{outlet}}

{{#if model}}
Estas visualizando el estudio de {{model.version}} {{model.year}} del gobierno {{model.government.name}}
{{/if}}



<ul>
  {{#each model.promises as |promise|}}
    <li>{{promise.content}}</li>
  {{else}}
  No existen promesas aun
  {{/each}}
</ul>
